.card-list .card-item {
    list-style: none;
}

  
.card-list .card-item .card-link {
    user-select: none;
    max-width: 400px;   /* Límite de ancho máximo */
    width: 100%;        /* Para que en mobile sea full width */
    margin: 0 auto;     /* Centrado horizontal */
    display: block;
    background: #fff;  
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition:  0.2 ease;

}

.card-list .card-item .card-link {
  cursor: grabbing;
}

@media (min-width: 1024px) {
    .card-list .card-item .card-link {
      max-width: 350px;
    }
  }

.card-list .card-item .card-link:hover{
    border-color: #df4d3c;

}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #df4d3c;
    padding: 8px 16px;
    font-size: 0.95rem;
    margin: 16px 0 18px;
    background:#DDE4FF;
    width: fit-content;
    border-radius: 50px;
}



.card-list .card-link .card-title {
    font-size: 1.19rem;
    color:#000;
    font-weight: 600;
}

.card-list .card-link .card-button{
    height: 35px;
    width: 35px;
    color: #df4d3c;
    border-radius: 50%;
    margin:30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #df4d3c;
    transform: rotate(-45deg);
    transition: 0.4s ease;
    margin-top: 400;

}

.card-list .card-link:hover .card-button{
    color: #fff;
    background: #df4d3c;



}

.card-wrapper .swiper-pagination-bullet{
  height: 9px;
  width: 9px;
  opacity: 0.5;
  background: #df4d3c;
}

.card-wrapper .swiper-pagination-bullet-active{
  opacity: 1;
  height: 13px;
  width: 13px;
}

  
.swiper-slide-button{
  opacity: 0.5px;

}

.card-wrapper .swiper-slide-button {
  color: #df4d3c;
  margin-top: 40px; /* margen positivo para separarlas de las cards */
  transform: none;
}



@media screen and (max-width:768px){
    .card-wrapper{
      margin: 0-10px 25px;
    }

    .card-wrapper .swiper-slide-button{
      display: none;
    }
}

.role-icon{
  scale: 2.6;
}


.card-list .card-item .card-link:hover .role-icon {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  color: #df4d3c;
}


