---
--- 
<section
  id="nosotros"
  class="relative h-auto md:h-screen flex flex-col md:flex-row items-center justify-between px-4 md:px-10 overflow-hidden pt-[150px] md:pt-[200px] bg-gradient-to-b from-white via-white to-[#49cbff]/70 py-10 md:py-0"
>
  <div class="z-30 relative w-full h-full flex flex-col justify-center">
    <header class="flex flex-col md:flex-row items-center justify-between w-full gap-10 md:gap-0">
      
      <!-- CAPIBARA -->
      <div class="w-full md:w-1/2 flex justify-center md:justify-end">
        <!-- Vista para dispositivos móviles -->
        <img
          src="/creapibara-duda.webp"
          alt="Mascota Creapibara"
          class="block md:hidden w-[300px] translate-y-[40px] object-contain capy-anim"
        >
        <!-- Vista para escritorio -->
        <img
          src="/creapibara-duda.webp"
          alt="Mascota Creapibara"
          class="hidden md:block md:max-w-[700px] w-full object-contain translate-y-[47px] capy-anim"
        >
      </div>

      <!-- CONTENEDOR DE TEXTO -->
      <div class="w-full md:w-1/2 flex flex-col justify-center items-center md:items-start mx-auto px-4">
        <h2 class="text-5xl font-montserrat font-bold text-[#1b6585] leading-tight transition-transform duration-300 hover:-translate-y-2">
          ¿Qué es CREA?
        </h2>
        <p class="mb-6 text-xl text-justify text-gray-800">
          El Consejo Representativo de Estudiantes en Acción (CREA) es el espacio donde los estudiantes lideran, participan y construyen.
        </p>
        <p class="text-xl text-justify text-gray-800">
          Más que una organización, es una comunidad que representa nuestras ideas, necesidades y propuestas, promoviendo el cambio positivo en el colegio con responsabilidad, creatividad y compromiso.
        </p>
      </div>

    </header>
  </div>
</section>

<style>
  @keyframes sombraCapibara {
    0%, 100% {
      filter: drop-shadow(0px 0px 10px rgba(74, 65, 78, 0.4));
    }
    50% {
      filter: drop-shadow(20px 0px 20px rgba(74, 65, 78, 0.6));
    }
  }
  .capy-anim {
    animation: sombraCapibara 3s ease-in-out infinite;
  }
</style>
