---
import "../styles/card.css";
import 'swiper/css/bundle';
---

<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet">

<section class="flex justify-center min-h-[calc(100vh-140px)] bg-gradient-to-b from-white to-[#e99f89] py-40 px-4 scroll-mt-32 sm:scroll-mt-0">
  
  <div class="container text-center">
    <h1 class="text-4xl font-bold text-[#df3623] mb-12">Nuestro Equipo</h1>

    <div class="swiper card-wrapper">
      <ul class="card-list swiper-wrapper">
        <!-- tus li swiper-slide tal cual están -->
        <li class="card-item swiper-slide">
            <a href="#" class="card-link">
              <img src="/alfonso.png" alt="Alfonso Card" class="card-image">
              <p class="badge">Presidente</p>
              <h2 class="card-title">Alfonso Suarez</h2>
              <button class="card-button material-symbols-rounded">
                arrow_forward
              </button>
            </a>
          </li>
  
          <li class="card-item swiper-slide">
            <a href="#" class="card-link">
              <img src="/annya.png" alt="Annya Card" class="card-image">
              <p class="badge">Vicepresidente</p>
              <h2 class="card-title">Annya Culquicondor</h2>
              <button class="card-button material-symbols-rounded">
                arrow_forward
              </button>
            </a>
          </li>
  
          <li class="card-item swiper-slide">
            <a href="#" class="card-link">
              <img src="/diego.png" alt="Diego Card" class="card-image">
              <p class="badge">Secretario</p>
              <h2 class="card-title">Diego Sanchez</h2>
              <button class="card-button material-symbols-rounded">
                arrow_forward
              </button>
            </a>
          </li>
  
          <li class="card-item swiper-slide">
            <a href="#" class="card-link">
              <img src="/valentino.png" alt="Valentino Card" class="card-image">
              <p class="badge">Delegado</p>
              <h2 class="card-title">Valentino Cabrera</h2>
              <button class="card-button material-symbols-rounded">
                arrow_forward
              </button>
            </a>
          </li>
  
          <li class="card-item swiper-slide">
            <a href="#" class="card-link">
              <img src="/samantha.png" alt="Samantha Card" class="card-image">
              <p class="badge">Presidente</p>
              <h2 class="card-title">Samantha Guzman</h2>
              <button class="card-button material-symbols-rounded">
                arrow_forward
              </button>
            </a>
          </li>
  
          <li class="card-item swiper-slide">
            <a href="#" class="card-link">
              <img src="/pulido.png" alt="Pulido Card" class="card-image">
              <p class="badge">Delegado de Pastoral</p>
              <h2 class="card-title">Jose Francisco Pulido</h2>
              <button class="card-button material-symbols-rounded">
                arrow_forward
              </button>
            </a>
          </li>
      </ul>

      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>

<script type="module" src="/src/scripts/swiper.js"></script>


-